@page
@model Shop.Pages.Users.CreateUserModel
@{
}

<style>
    .form-group{
        width: 200px;
    }

    .midten{
        display: flex;
        justify-content: center;
    }
</style>

<body>

    <h2 style="text-align: center"> Opret en profil</h2>
    <div class="midten container">
    <form method="post">
            <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Balance" class="control-label"></label>
            <input asp-for="Balance" class="form-control" />
        </div>
        <div>
            <button type="button" class="btn btn-primary">Opret</button>
        </div>
    </form>
    </div>
</body>