@page
@model Shop.Pages.Users.GetAllCustomersModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Showing all customers</title>
</head>

<body>
    <div class="container mt-3" style="display: flex; justify-content: flex-end;">
        <table class="table table-hover table-striped" style="width: 70px;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Balance</th>
                </tr>
            </thead>
                <tbody>
                    @foreach (var c in Model.Customers)
                    {
                        <tr>
                            <td>@c.Id</td>
                        <td>@c.Name</td>
                        <td>@c.Email</td>
                        <td>@c.Balance</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>

