@page
@model Shop.Pages.LoggingPage.LoginModel
@{
}

<form method="post">
    <label asp-for="Customer.Email"></label><br>
    <input asp-for="Customer.Email" type="text"><br>
   
    <label asp-for="Customer.Password"></label><br>
    <input asp-for="Customer.Password" type="text"><br><br>
  
    <button type="submit" class="btn btn-success">Login</button>
</form> 