@page
@model Shop.Pages.LoggingPage.LoginModel
@{
}

<html>
<head>

</head>

<body>

    <form method="post">
        <div class="mb-3 mt-3">
            <label asp-for="@Model.Customer.Email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Customer.Password">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>




</html>